# Common gitignore
.cproject
.project
.settings
.directory
Makefile.in
Makefile
/aclocal.m4
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/build/tizen/aclocal.m4
/build/tizen/compile
/build/tizen/config.guess
/build/tizen/config.sub
/build/tizen/configure
/build/tizen/install-sh
/build/tizen/ltmain.sh
/build/tizen/missing
/build/tizen/m4/libtool.m4
/build/tizen/m4/ltoptions.m4
/build/tizen/m4/ltsugar.m4
/build/tizen/m4/ltversion.m4
/build/tizen/m4/lt~obsolete.m4
/build/tizen/*/aclocal.m4
/build/tizen/*/compile
/build/tizen/*/config.guess
/build/tizen/*/config.sub
/build/tizen/*/configure
/build/tizen/*/depcomp
/build/tizen/*/install-sh
/build/tizen/*/ltmain.sh
/build/tizen/*/missing
/build/tizen/*/m4/libtool.m4
/build/tizen/*/m4/ltoptions.m4
/build/tizen/*/m4/ltsugar.m4
/build/tizen/*/m4/ltversion.m4
/build/tizen/*/m4/lt~obsolete.m4
BROWSE
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
*~
*.pc
*.o
*.o.d
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
*.creator
*.creator.user
/docs/generated/*
/build/tizen/doc
/build/tizen/.cov
/build/desktop
/packaging/home*
compile_commands.json
.clangd
/debugfiles.list
/debuglinks.list
/debugsources.list
.clangd/
*.vscode/
*.cache/
